<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DomainConnectDDNSUpdate.DomainConnectDDNS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DomainConnectDDNS.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>           
            <section name="DomainConnectDDNSUpdate.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
   
    <userSettings>
      
        <DomainConnectDDNSUpdate.DomainConnectDDNS>
            <setting name="domain_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="host" serializeAs="String">
                <value/>
            </setting>
            <setting name="urlAPI" serializeAs="String">
                <value/>
            </setting>
            <setting name="provider_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="access_token" serializeAs="String">
                <value/>
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value/>
            </setting>
            <setting name="iat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="expires_in" serializeAs="String">
                <value>0</value>
            </setting>
        </DomainConnectDDNSUpdate.DomainConnectDDNS>
        <DomainConnectDDNS.Application>
            <setting name="domain_name" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="host" serializeAs="String">
                <value/>
            </setting>
            <setting name="urlAPI" serializeAs="String">
                <value/>
            </setting>
            <setting name="provider_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="access_token" serializeAs="String">
                <value/>
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value/>
            </setting>
            <setting name="iat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="expires_in" serializeAs="String">
                <value>0</value>
            </setting>
        </DomainConnectDDNS.Application>
        <DomainConnectDDNSUpdate.Application>
            <setting name="host" serializeAs="String">
                <value/>
            </setting>
            <setting name="urlAPI" serializeAs="String">
                <value/>
            </setting>
            <setting name="provider_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="access_token" serializeAs="String">
                <value/>
            </setting>
            <setting name="refresh_token" serializeAs="String">
                <value/>
            </setting>
            <setting name="iat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="expires_in" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="domain_name" serializeAs="String">
                <value/>
            </setting>
        </DomainConnectDDNSUpdate.Application>
    </userSettings>

</configuration>
